<tr>
  <td><%= best_in_place institution, :name, as: :input, class: 'hvr-underline-from-center'%></td>

  <td><%= best_in_place institution, :role_name, as: :input, class: 'hvr-underline-from-center'%></td>
</tr>