<div class="col-sm-8 center-block">
  <div class="panel panel-info">
    <div class="panel-heading">
      User management
      <i class="fa fa-minus-square-o fa-2x pull-right users-collapse", style="cursor: pointer;"></i>
    </div>
    <div class="panel-body users-panel-body">
      <table class="table table-hover", id="#users">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Full name</th>
          <th>Role</th>
          <th>Verified</th>
        </tr>

        <% @users.each do |user| %>
            <%= render 'user', user: user %>
        <%end %>
      </table>
    </div>
  </div>
</div>
